@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 0.875rem;
  line-height: 1.25rem;
  background: rgb(229, 231, 235);
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: rgb(229, 231, 235);
}
::-webkit-scrollbar-thumb {
  background: rgb(4 120 87);
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(21, 128, 61);
}

.paginateActiveClassName {
  background: rgb(5 150 105);
  color: white;
  pointer-events: none;
}

.paginateBreakClassName {
  display: none;
}
.paginateTransparent {
  opacity: 0.5;
  pointer-events: none;
}

